:root {
  --primary-color: #6c0abd;
  --secondary-color: #3a3e3b;
  --accent1-color: #2a2a2e;
  --accent2-color: #f0eff4;
  --accent3-color: #4daa57;

  --heading1-font: "Chakra Petch", Arial, sans-serif;
  --heading2-font: "Kanit", Arial, sans-serif;
  --paragraph-font: "Mulish", Verdana, sans-serif;

  --headline-color-on-white: #6c0abd;
  --headline-color-on-color: #f0eff4;
  --paragraph-color-on-white: #2a2a2e;
  --paragraph-color-on-color: #f0eff4;
  --paragraph-background-color: #2a2a2e;
  --nav-link-color: #f0eff4;
  --nav-background-color: #6c0abd;
  --nav-hover-link-color: #2a2a2e;
  --nav-hover-background-color: #3e9051;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--paragraph-font);
}

h3,
h4,
h5,
h6 {
  font-family: var(--heading2-font);
  color: var(--headline-color-on-white);
}

h1,
h2 {
  font-family: var(--heading1-font);
  color: var(--headline-color-on-white);
}