<div id="filterPopup" class="filter-popup">
  <form id="filterForm">
    <div class="filter-header">
      <h2>Filters</h2>
      <button type="button" id="closeFilterPopup" class="filter-button btn">
        &#10005;
      </button>
    </div>
    <fieldset>
      <legend>Type</legend>
      <label><input type="checkbox" name="type" value="1" /> DLC</label>
      <label><input type="checkbox" name="type" value="0" /> Game</label>
    </fieldset>

    <fieldset>
      <legend>Platform</legend>
      <label><input type="checkbox" name="platf" value="9" /> PS3</label>
      <label><input type="checkbox" name="platf" value="48" /> PS4</label>
      <label><input type="checkbox" name="platf" value="11" /> XBOX</label>
      <label><input type="checkbox" name="platf" value="130" /> SWITCH</label>
      <label><input type="checkbox" name="platf" value="6" /> PC</label>
    </fieldset>

    <fieldset>
      <legend>Genre</legend>
      <label><input type="checkbox" name="genr" value="12" /> RPG</label>
      <label><input type="checkbox" name="genr" value="5" /> FPS</label>
      <label><input type="checkbox" name="genr" value="9" /> Puzzle</label>
      <label><input type="checkbox" name="genr" value="13" /> Simulator</label>
      <label><input type="checkbox" name="genr" value="7" /> Music</label>
    </fieldset>

    <button type="submit" id="submitFilter">Submit Filter</button>
  </form>
</div>
