<a href="/index.html" class="logo">DZ GAMES</a>
<div class="footer-links">
  <a href="/index.html">Home</a>
  <a href="/explore/index.html">Game Gallery</a>
  <a href="/wishlist/index.html">Wishlist</a>
  <div class="dropdown">
    <button class="dropbtn">
      Explore by Genres
      <span>&#9660;</span>
    </button>
    <div class="dropdown-content">
      <a href="/explore/index.html">Adventure</a>
      <a href="/explore/index.html">RPG</a>
      <a href="/explore/index.html">FPS</a>
      <a href="/explore/index.html">Puzzle</a>
      <a href="/explore/index.html">Simulator</a>
      <a href="/explore/index.html">Survival</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">
      Explore by Platform
      <span>&#9660;</span>
    </button>
    <div class="dropdown-content">
      <a href="/explore/index.html">PS3</a>
      <a href="/explore/index.html">PS4</a>
      <a href="/explore/index.html">XBOX</a>
      <a href="/explore/index.html">SWITCH</a>
      <a href="/explore/index.html">STEAM</a>
      <a href="/explore/index.html">PC</a>
    </div>
  </div>
</div>
<div class="footer-socials"></div>
<div class="copy-box">
  <hr />
  <p>
    &copy; <span id="year"></span> DZ GameShop<br />
    Dicmary Zambrano Venezuela <br />WDD 330 Project
  </p>
  <p id="lastModified"></p>
</div>
