<nav class="topnav" id="myTopnav">
  <input type="checkbox" name="toggle" id="check" />
  <div class="hamburger-menu-container">
    <div class="hamburger-menu">
      <div></div>
    </div>
  </div>
  <div class="usernav">
    <div class="logo">
      <a href="/index.html"
        ><img src="../images/logo-no-background.svg" alt="DZ GAMES logo"
      /></a>
    </div>
    <div class="search-container">
      <button class="search-popup btn" id="openPopup" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>

      <div class="search-overlay" id="searchOverlay">
        <form class="search-content">
          <button class="search-btn btn" id="searchBtn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </button>
          <input
            type="text"
            placeholder="Search.."
            name="search"
            id="searchInput"
            class="search-bar"
          />
          <button class="close-btn btn" id="closePopup" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
              />
            </svg>
          </button>
        </form>
      </div>
    </div>
    <button type="button" class="btn" id="wishlistBtn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-heart"
        viewBox="0 0 16 16"
      >
        <path
          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
        />
      </svg>
    </button>
  </div>
  <div class="nav-btn" id="nav-body">
    <div class="nav-links">
      <ul>
        <li class="nav-link">
          <a href="/index.html">Home</a>
        </li>
        <li class="nav-link">
          <a href="/explore/index.html">Game Gallery</a>
        </li>
        <li class="nav-link">
          <a href="/wishlist/index.html">Wishlist</a>
        </li>
        <li class="nav-link">
          <p href="#">Explore by Genres <span class="drop-icon"></span></p>
          <div class="dropdown">
            <ul>
              <li class="dropdown-link">
                <a href="/explore/index.html">Adventure </a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">RPG</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">FPS</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">Puzzle</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">Simulator</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">Survival</a>
              </li>
              <div class="arrow"></div>
            </ul>
          </div>
        </li>
        <li class="nav-link">
          <p href="#">Explore by Platform <span class="drop-icon"></span></p>
          <div class="dropdown">
            <ul>
              <li class="dropdown-link">
                <a href="/explore/index.html">PS3</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">PS4</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">XBOX</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">SWITCH</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">STEAM</a>
              </li>
              <li class="dropdown-link">
                <a href="/explore/index.html">PC</a>
              </li>
              <div class="arrow"></div>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
